:root {
  --clr-dark: #070a13;
  --clr-light: #f1f5f9;
  --clr-slate400: #94a3b8;
  --clr-slate600: #475569;
  --clr-slate800: #1e293b;
  --clr-rose: #023379;
  --clr-indigo: #4f46e5;

  /* rose rgb(225, 29, 72) */
  /* indigo rgb(79, 70, 229) */

  /* sizes */
  --size-xxs: 0.5rem;
  --size-xs: 0.75rem;
  --size-sm: 0.875rem;
  --size-base: 1rem;
  --size-lg: 1.125rem;
  --size-xl: 1.25rem;
  --size-2xl: 1.5rem;
  --size-3xl: 1.875rem;
  --size-4xl: 2.25rem;
  --size-5xl: 3rem;
  --size-6xl: 3.75rem;
  --size-7xl: 4.5rem;
  --size-8xl: 6rem;
  --size-9xl: 8rem;
  --size-10xl: 10rem;
}

* {
  font-family: 'Tiny5', sans-serif;
  margin: 0;
  line-height: calc(1em + 0.5rem);
}

html {
  scroll-behavior: smooth;
}

.light-mode {
  --clr-light: #070a13;
  --clr-dark: #f1f5f9;
  --clr-slate400: #1e293b;
  --clr-slate600: #1e293b;
  --clr-slate800: #1e293b;
}

body {
  font-family: 'Tiny5', sans-serif;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  user-select: none;
}

button {
  display: inline-block;
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  color: inherit;
}

a {
  color: var(--clr-rose);
}

strong {
  color: var(--clr-indigo);
}

body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--clr-rose);
  outline: 1px solid var(--clr-rose);
}

.main {
    max-width: 1440px;
    margin: 0 auto;
    border: 1px solid var(--clr-slate800);
    padding:0px 20px;
    display: flex;
    flex-direction: column;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header {
    height: auto;
    background-color: var(--clr-dark);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border: 1px solid var(--clr-slate800);
}

.header-main {
    width: 100%;
}

h1, h2{
  text-align: center;
  padding: 30px;
}

img{
  display: block; 
  margin-left: auto;
  margin-right: auto;
}

p, ol{
  font-family: sans-serif;
  text-align: justify;
  font-size: 20px;
}

footer{
  display: block; 
  margin-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}

.assinatura{
  font-size: 20px;
  text-align: left;
  margin-left: 15%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 30px;
    padding: 20px;
}

.section-container {
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    padding: 20px;
}

.card {
    background-color: #0f172a;
    border: 1px solid #475569;
    border-radius: 24px;
    padding: 16px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(255, 255, 255, 0.1);
}

.card-image {
    width: 100%;
    height: 220px;
    background-color: #0a0a0a;
    border: 1px solid #475569;
    border-radius: 16px;
    margin-bottom: 16px;
}

.description {
    font-size: 1.1rem;
    color: #cbd5e1;
    text-align: center;
    margin-top: 8px;
}

.card-content {
    padding: 8px;
}

.card-title {
    color: #ffffff;
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 8px;
    line-height: 1.4;
}

.card-description {
    color: #cbd5e1;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.9;
}